<div class="input-group">
  <input name="day" type="number" class="form-control" [(ngModel)]="value.day" required min="1" max="31">
  <select name="month" class="form-control" [(ngModel)]="value.month" required>
    <option [ngValue]="1">January</option>
    <option [ngValue]="2">February</option>
    <option [ngValue]="3">March</option>
    <option [ngValue]="4">April</option>
    <option [ngValue]="5">May</option>
    <option [ngValue]="6">June</option>
    <option [ngValue]="7">July</option>
    <option [ngValue]="8">August</option>
    <option [ngValue]="9">September</option>
    <option [ngValue]="10">October</option>
    <option [ngValue]="11">November</option>
    <option [ngValue]="12">December</option>
  </select>
  <input name="year" type="number" class="form-control" [(ngModel)]="value.year" required [min]="minYears" [max]="maxYears">
</div>