<p>
  <a data-toggle="collapse" href="{{'#period' + period.year + period.month}}" role="button" aria-expanded="false">
    {{period.title}}
  </a>
</p>

<div class="collapse" id="{{'period' + period.year + period.month}}">
  <div *ngFor="let summary of period.summaries" class="row">
    <div class="col">
      <span *ngIf="summary.canDelete">Delete</span>
    </div>
    <div class="col">{{summary.recorded | date:'EEE d MMMM y'}}</div>
    <div class="col">{{summary.weight}}</div>
    <div class="col">{{summary.exerciseCount}}</div>
  </div>
</div>