<form #frm="ngForm" (ngSubmit)="onSubmit(frm)" class="col-md-9 col-lg-6">
  <div class="form-group">
    <label for="recorded">Recorded</label>
    <ft-date-picker
      name="recorded"
      [value]="recorded"
      [disabled]="isLoading"
      [minYears]="recordedMin"
      [maxYears]="recordedMax">
    </ft-date-picker>
  </div>
  
  <div class="form-group">
    <label for="timeTaken">Time Taken</label>
    <div class="input-group">
      <input name="timeTakenHours" type="number" class="form-control" [(ngModel)]="timeTaken.hours" required min="0" max="23" [disabled]="isLoading">
      <input name="timeTakenMinutes" type="number" class="form-control" [(ngModel)]="timeTaken.minutes" required min="0" max="60" [disabled]="isLoading">
      <input name="timeTakenSeconds" type="number" class="form-control" [(ngModel)]="timeTaken.seconds" required min="0" max="60" [disabled]="isLoading">
    </div>
  </div>

  <div class="form-group">
    <label for="distance">Distance</label>
    <input name="distance" type='number' class="form-control" [(ngModel)]="distance" min="0" required [disabled]="isLoading">
  </div>

  <div class="form-group">
    <label for="caloriesBurned">Calories Burned</label>
    <input name="caloriesBurned" type='number' class="form-control" [(ngModel)]="caloriesBurned" min="0" required [disabled]="isLoading">
  </div>

  <div class="clearfix">
    <button *ngIf="!isLoading" type="submit" class="btn btn-primary btn-submit">Submit</button>
    <button *ngIf="isLoading" type="button" class="btn btn-warning btn-submit" (click)="onCancel()">Cancel</button>
    <i *ngIf="isLoading" class="loading-spinner fa fa-spinner fa-spin"></i>
  </div>
</form>

<div class="status col-md-12">
  <div *ngIf="errorMessage && errorMessage.length > 0" class="alert alert-danger">{{errorMessage}}</div>
</div>