<form #frm="ngForm" (ngSubmit)="onSubmit(frm)" class="col-md-9 col-lg-6">
    <div class="form-group">
      <label for="recorded">Recorded</label>
      <div class="input-group">
        <input name="recordedDay" type="number" class="form-control" [(ngModel)]="recorded.day" required min="1" max="31" [disabled]="isLoading">
        <select name="recordedMonth" class="form-control" [(ngModel)]="recorded.month" required [disabled]="isLoading">
          <option [ngValue]="1">January</option>
          <option [ngValue]="2">February</option>
          <option [ngValue]="3">March</option>
          <option [ngValue]="4">April</option>
          <option [ngValue]="5">May</option>
          <option [ngValue]="6">June</option>
          <option [ngValue]="7">July</option>
          <option [ngValue]="8">August</option>
          <option [ngValue]="9">September</option>
          <option [ngValue]="10">October</option>
          <option [ngValue]="11">November</option>
          <option [ngValue]="12">December</option>
        </select>
        <input name="recordedYear" type="number" class="form-control" [(ngModel)]="recorded.year" required [disabled]="isLoading" [min]="recordedMin" [max]="recordedMax">
      </div>
    </div>

    <div class="form-group">
      <label for="weight">Weight</label>
      <div class="input-group">
        <input name="weightStone" type='number' class="form-control" [(ngModel)]="weight.stone" min="0" max="20" required [disabled]="isLoading">
        <input name="weightPounds" type='number' class="form-control" [(ngModel)]="weight.pounds" min="0" max="13.9999" required [disabled]="isLoading">
      </div>
    </div>

    <div class="clearfix">
      <button *ngIf="!isLoading" type="submit" class="btn btn-primary btn-submit">Submit</button>
      <button *ngIf="isLoading" type="button" class="btn btn-warning btn-submit" (click)="onCancel()">Cancel</button>
      <i *ngIf="isLoading" class="loading-spinner fa fa-spinner fa-spin"></i>
    </div>
  </form>

  <div class="status col-md-12">
    <div *ngIf="errorMessage && errorMessage.length > 0" class="alert alert-danger">{{errorMessage}}</div>
  </div>