.exercise-group-summary {
    margin-bottom: 6px;
}

.exercise-group-summary a {
    color: black;
}

.fas {    
    color: #28a745;
}

.exercise-group-summary-header {
    margin-bottom: 12px;
}

.exercise-group-summary-content {
    margin-bottom: 6px;
}