<div class="row exercise-group-summary">
  <div class="col-1 icon-column">
    <i class="fas fa-weight"></i>
  </div>
  <div class="col-1 icon-column">
    <span *ngIf="summary.canDelete"><i class="fas fa-trash-alt"></i></span>
  </div>
  <div class="col-3">{{summary.recorded | date:'EEEE d MMMM y'}}</div>
  <div class="col-3">{{summary.weight}}</div>
  <div class="col-3 icon-column">
    <i *ngFor="let item of enumerate(summary.exerciseCount)" class="fas fa-running"></i>
  </div>
  <div class="col-1 icon-column">
      <i class="fas fa-sort-down"></i>
  </div>
</div>