<div class="exercise-group-summary">
  <p>
    <a id="{{'summaryHeader' + summary.id}}" data-toggle="collapse" href="{{'#summary' + summary.id}}" role="button" aria-expanded="false" (click)="toggleExpanded()">
      <div class="row">
        <div class="col-1 icon-column">
          <i class="fas fa-weight"></i>
        </div>
        <div class="col-1 icon-column">
          <span *ngIf="summary.canDelete"><i class="fas fas fa-times delete-icon"></i></span>
        </div>
        <div class="col-3">{{summary.recorded | date:'EEEE d MMMM y'}}</div>
        <div class="col-3">{{summary.weight}}</div>
        <div class="col-3 icon-column">
          <i *ngFor="let item of enumerate(summary.exerciseCount)" class="fas fa-running exercise-icon"></i>
        </div>
        <div class="col-1 icon-column">
          <i *ngIf="summary.isExpanded" class="fas fa-sort-up"></i>
          <i *ngIf="!summary.isExpanded" class="fas fa-sort-down"></i>
        </div>
      </div>
    </a>
  </p>
  
  <div class="panel-collapse collapse hide" id="{{'summary' + summary.id}}">
    <ft-exercise-group [group]="group"></ft-exercise-group>
  </div>
</div>