a:hover {
    text-decoration: none;
}

.btn-submit {
    float: left;
}

.loading-spinner {
    float: left;
    padding: 6px 12px;
    font-size: 24px
}

.status {
    padding-top: 15px;
    padding-bottom: 15px;
}

.icon-column {
    font-size: 20px;
}

.delete-icon {
    color: #dc3545 !important;
}